REDIS_URL=redis://localhost:6379
API_KEY='test-api-key-free-user'
AWS_REGION=us-east-1
PORT=8080
OPENAI_API_KEY=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
SERPER_API_KEY=9e00ee040d6cf48962b1df0ebf339787b85afc1c